.DS_Store
non-mandatory-tasks/quantvision-quantization-segmentation/QuantVision_dataset.zip

mandatory-tasks/shopee-product-matching/dataset

mandatory-tasks/seq2seq-grounded-dialogue-generation/subtask1/best_seq2seq.pt
mandatory-tasks/seq2seq-grounded-dialogue-generation/subtask2/best_attn.pt
mandatory-tasks/seq2seq-grounded-dialogue-generation/subtask3/wikidata
mandatory-tasks/seq2seq-grounded-dialogue-generation/subtask3/grounded.pt
mandatory-tasks/seq2seq-grounded-dialogue-generation/subtask3/ungrounded.pt


.venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

non-mandatory-tasks/multi-agent-news-pipeline/PARTA/output/embeddings.csv