.DS_Store
non-mandatory-tasks/quantvision-quantization-segmentation/QuantVision_dataset.zip

mandatory-tasks/shopee-product-matching/dataset

mandatory-tasks/seq2seq-grounded-dialogue-generation/subtask1/best_seq2seq.pt